/* CSS Document */

.header-bg{
    height:100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0 auto;
}
 
/*
#headerbg{
    background-image: url("../images/cool-background.jpg");
}
*/

.headerText{
	text-align: center;
	font-family: "微软雅黑";
	color: black;
}

.headerText1{
	text-align: left;
	font-family: "微软雅黑";
	color: black;
}

.footerBottomText{
	color: #737373;
	font-family: "capitolium-news-2", serif;
	text-align: center;
}

#footer{
	height: 150px;
	width: 100%;
    background-color: #252525;
    opacity: 1;
    z-index: 2;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
}

#main{
	height: 100%;
	padding-bottom: 150px;
	display: flex;
	justify-content: center;
	
}

body{
	width: 100%;
    height: 100%;
    background: #000;
}

html{
	height: 100%;
}

.content{
	width: 100vw;
	height: 50vw;
	display: flex;
	justify-content: center;
	padding: 0 0;
	align-content: center;
}

/*take the place*/
.fakebook {
    width: 30vw;
    height: 40vw;
    background: #FFF;
    perspective: 10000px;
    position: relative;
}

.book {
    width: 30vw;
    height: 40vw;
    background: #FFF;
    perspective: 150vw;
    position: relative;
}
.paper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30vw;
    height: 40vw;
    transform-style: preserve-3d;
    transform-origin: left center;
    transition: all 1s ease-in;
}
.paper {
    z-index: 2;
}
.paper.current+.paper {
    z-index: 20;
}
.paper.current {
    z-index: 40;
}
.page {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    color: #FFF;
    backface-visibility: hidden;
}
.page.front {
    background: rgb(0, 177, 150);
}
.page.back {
    background: rgb(154, 155, 154);
    transform: rotateY(180deg);
}
.paper.flip {
    transform: rotateY(-180deg);
}

/*to fill up the place of book's background*/

.page.groundfront{
    background: rgb(154, 155, 154);
}
.page.groundback {
    background: rgb(154, 155, 154);
    transform: rotateY(180deg);
}

.btn.btn-dark{
	height: 40vw;
	width: 2vw;
	margin: 0 0;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn img{
	max-width: 2vw;
}

.page img{
	height: 40vw;
	width: 30vw;
}



